* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 5px;
    border: 0;
}

select {
    border: 0;
    padding: 5px;
}

/* UTILITIES */
.t-white {
    color: white;
}

.t-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.gap-15 {
    gap: 15px;
}

/* BODY */
.ticket-input {
    min-height: 300px;
    padding: 15px;
    background-color: lightblue;
    border-radius: 20px;
}

.m-top{
    margin-top:70px;
}

#form-btn {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: blue;
}

.ticket-output {
    height: 200px;
    padding: 15px;
    display: none;
    background-color:darkred;
    border-radius: 20px;
}

.block {
    display: block;
}

.col {
    gap: 10px;
    width: calc(100% / 3);
    display: flex;
    justify-content:center;
    align-items: center;
}

.inner-col {
    background-color: white;
    padding:20px;
    border-radius: 10px;
}